---
import Founders from "../components/Founders.astro";
import PageBanner from "../components/PageBanner.astro";
import Section from "../components/Section.astro";
import SectionTitle from "../components/SectionTitle.astro";
import Layout from "../layouts/Layout.astro";
import LeftImage from "../components/LeftImage.astro"
import RightImage from "../components/RightImage.astro"

var change = false;
---

<Layout title="About">
 <PageBanner title="About Us" image="/images/brushed/Banner-img-002.png"   /> 

  <div class="container">
    <div>
      <p class="big-para">
        Welcome to Siddhanta Intellectual School, where we believe in the
        principle of "Culture Before Curriculum." At Siddhanta, we recognize
        that education is not solely about acquiring knowledge and academic
        excellence, but also about shaping individuals into responsible,
        compassionate, and cultured human beings.
      </p>
    </div>
  </div>
  
  <Section>
    <div class="container">
      <div class="row vision-row gy-4">
        <div class="col-lg-3">
          <div class="nav-vision">
            <span> Our Vision</span>
            <span> Our Mission</span>
            <span> Our Approach</span>
          </div>
    
          <!-- <div class="vision-controls">
            <div class="control-button prev">
              <img src="/images/left.jpg" alt="" style="max-width:50px" />
            </div>
            <div class="control-button vision-next">
              <img src="/images/right.jpg" alt="" style="max-width:50px" />
            </div>
          </div>
           -->
        </div>
        <div class="col-lg-8">
          <div class="vision-grid">
            <div class="vision-slide">
             <div class="slide-wrapper">
              <div class="overlay">
                <div>
                  <img src="/images/vision.png" alt="" />
                </div>
    
                <h5>Our Vision</h5>
              </div>
              <p>
                In a world often divided by hatred, intolerance, and ignorance,
                Siddhanta aims to be a beacon of hope and a catalyst for change. Our
                vision is to create a society of civilized and cultured human beings
                who can lead the world in the right direction. We aspire to produce
                graduates who not only excel in their chosen fields but also make a
                positive impact on their communities and the world at large.
              </p>
             </div>
            </div>
            <div class="vision-slide ">
             <div class="slide-wrapper">
              <div class="overlay">
                <div>
                  <img src="/images/vision.png" alt="" />
                </div>
    
                <h5>Our Approach</h5>
              </div>
              <p>
                At Siddhanta Intellectual School, we prioritize values and character
                development alongside academic learning. Our approach involves
                creating a nurturing and inclusive environment where students are
                encouraged to explore their potential, discover their passions, and
                develop a strong moral compass. We firmly believe that a
                well-rounded education encompasses not only subject matter knowledge
                but also the ability to navigate the complexities of life with
                wisdom and integrity.
              </p>
             </div>
            </div>
            <div class="vision-slide ">
             <div class="slide-wrapper">
    
              <div class="overlay">
                <div>
                  <img src="/images/vision.png" alt="" />
                </div>
    
                <h5>Our Approach</h5>
              </div>
              <p>
                In a world inundated with information and driven by competition, it
                is easy to lose sight of what truly matters. At Siddhanta, we
                understand that the foundation of a better society starts with
                instilling values, ethics, and a sense of culture in our students.
                Our philosophy is grounded in the belief that education should not
                only equip students with the skills they need to excel academically
                but also empower them to be empathetic, ethical, and socially
                responsible individuals.
              </p>
             </div>
            </div>
          </div>
        </div>
      </div>
     

     


    </div>
  </Section>

  <Founders />

  <Section style="padding-bottom:0;">

    <SectionTitle title=" Cultivating Values and Skills for the Modern World" subtitle="At Siddhanta Intellectual School, education isn't just about absorbing information from textbooks; it's about actively engaging with the world. Our approach to learning centers around experiential education, where students are encouraged to immerse themselves in hands-on, real-world experiences. This dynamic learning process is designed to ignite curiosity, spark creativity, and foster a deep understanding of the subjects and life itself." style="text-align:center;"   />
   <div class="container">


    <LeftImage title="Our Guiding Philosophy: Culture before Curriculum" content="At Siddhanta Intellectual School, education isn't just about absorbing information from textbooks; it's about actively engaging with the world. Our approach to learning centers around experiential education, where students are encouraged to immerse themselves in hands-on, real-world experiences. This dynamic learning process is designed to ignite curiosity, spark creativity, and foster a deep understanding of the subjects and life itself." image="/images/about/guiding.jpg"/>

    <RightImage title="Values at the Core: Cultivating Ethical Foundations" content="Our curriculum draws inspiration from two of the greatest epics in Indian literature: the Ramayana and the Mahabharata. These epics are not mere stories but repositories of profound wisdom, moral values, and life lessons. Through the study of these epics, our students learn timeless values such as integrity, compassion, resilience, and ethical leadership. We believe that these values are essential for personal growth and success in today's world." image="/images/about/values.jpg"  />


    <LeftImage title="Life Skills: Business and Financial Literacy" content="In addition to nurturing moral values, Siddhanta Intellectual School is committed to preparing students for the complexities of the modern world. We offer specialized courses in business and financial literacy, equipping students with practical knowledge and skills essential for financial independence and success. Our goal is to empower our students to make informed decisions and become responsible citizens who contribute positively to society." image="/images/about/life.jpg"/>


    <RightImage title="Beyond the Classroom: Experiential Learning" content="At Siddhanta Intellectual School, education goes beyond the four walls of the classroom. We understand the importance of connecting with nature to foster a deeper understanding of the world around us. That's why we have created a vegetable garden where students actively participate in gardening and learn about the environment, agriculture, and sustainability. We believe that experiencing nature firsthand is the most effective way to learn and develop a sense of responsibility towards the planet." image="/images/about/beyond.jpg"/>


    <LeftImage title="Experiential Learning for All Subjects" content="Experiential learning is at the heart of our teaching methodology. We believe that students learn best when they are actively engaged in the learning process. Whether it's history, science, mathematics, or any other subject, our teachers are dedicated to creating immersive and interactive learning experiences. This approach not only enhances academic understanding but also nurtures critical thinking, problem-solving, and creativity." image="/images/about/experiental.jpg" />

    
    <RightImage title="Innovative Teaching Methods" content="Our teachers are passionate educators who are constantly innovating new methods to deliver academic content effectively. We understand that every student is unique, and one-size-fits-all teaching methods may not be suitable. Our educators employ diverse teaching strategies to cater to the individual learning styles and needs of our students, ensuring that no one is left behind." image="/images/about/innovative.jpg"/>
   </div>


  </Section>

  <Section style="padding:2rem 0 2rem 0 ;">
    <SectionTitle title=" We are glad to introduce our professional staffs" style="text-align:center;"  />

    <div class="container">
      <div class="staff">
        <a href="/images/group.jpg" data-fancybox="gallery">
          <img src="/images/group.jpg" alt="sidhhantha intelectual school" style="width: 100%; height;100%;">
        </a>
      </div>
    </div>
  </Section>
</Layout>

<style lang="scss">

  .staff{
    width: 80%;
    margin: 0 auto;
    border: solid var(--dark-blue) 10px;
  }
  .big-para{
    font-size: clamp(16px, 4vw, 26px);
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding: 3rem 0;


    @media screen and (max-width:991px) {
      width: 100%;
      padding: 0;
    }
  }
  .about-banner {
    height: 80vh;
    background-color: red;
    margin-top: 144.05px;

    img {
      width: 100%;
      height: 100%;
    }
  }

.vision-row{
  justify-content: space-around;
  height: 480px;

  @media screen and (max-width:991px) {
    height: auto;
  }

  >:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

  .vision-grid {
   
    margin-top: 3rem;
    width: 100%  !important;
    display: flex !important;
    gap: 2rem !important;
    margin: 0 auto;
    position: relative;
    overflow: hidden;

    .overlay{
      padding: 30px;
      gap: 1rem;
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
      border-radius: 15px;
    }

    > :nth-child(1) {
      border: solid 2px var(--blue);
      border-radius: 15px;
      .overlay {
        background-color: var(--blue);
      }
    }
    > :nth-child(2) {
      border: solid 2px #179496;
      border-radius: 15px;
      .overlay {
        background-color: #179496;
      }
    }
    > :nth-child(3) {
      border: solid 2px #d63e;
      border-radius: 15px;
      .overlay {
        background-color: #d63e30;
      }
    }

    .vision-slide{
      width: 100% !important;
      // height: 480px;
      margin: 0 auto;
      overflow: hidden !important;
    }

    .slide-wrapper {
      
    
      text-align: center;
      
      border-radius: 15px;
      padding: 2rem;
      width: 100% !important; 
      height: 100%;
      // margin: 0 auto;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      transition: all 0.5s ease;

      // *{
      //   transition: all 0.5s ease;
      // }

      &:hover {
        // padding: 1.5rem;
      //  p{
      //   font-size: 22px;
      //  }
       img {
        max-width: 70px;
        
      }
      }

      img {
        max-width: 60px;
        transition: all 0.5s ease-in-out;
      }

      p {
        text-align: justify;
      }
    }
  }

  .nav-vision{
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease ;

    @media screen and (max-width:991px) {
      flex-direction: row ;
      gap: 1rem;
    }
    @media screen and (max-width:500px) {
      flex-direction: row ;
      gap: 1rem;

      span{
      font-size: 16px !important;
      transition: all 0.5s ease ;

    }
    }

    span{
      font-size: 22px;
      transition: all 0.5s ease ;
      cursor: pointer;

    }
  }

  .tns-nav-active{
    color: var(--blue);
  }
</style>
