---
import Founders from "../components/Founders.astro";
import PageBanner from "../components/PageBanner.astro";
import Section from "../components/Section.astro";
import SectionTitle from "../components/SectionTitle.astro";
import Layout from "../layouts/Layout.astro";
import LeftImage from "../components/LeftImage.astro"
import RightImage from "../components/RightImage.astro"
import Mission from "../components/Mission.astro";

var change = false;
---

<Layout title="About">
 <PageBanner title="About Us" image="/images/brushed/Banner-img-002.png"   /> 

  <div class="container">
    <div>
      <p class="big-para abouts">
        Welcome to Siddhanta Intellectual School, where we believe in the
        principle of "Culture Before Curriculum." At Siddhanta, we recognize
        that education is not solely about acquiring knowledge and academic
        excellence, but also about shaping individuals into responsible,
        compassionate, and cultured human beings.
      </p>
    </div>
  </div>

  <Mission/>  
  


  <Founders />

  <!-- <Section>
    <div class="container">
      <SectionTitle title="need title for video section" subtitle="" style="text-align:center;"   />


   <div class="container">
      <div class="video-section">
        <div class="messages-slider">
          <div class="slide">
            <div class="video-wrapper video-container">
              <img class="imgs" src="/images/founder (3).png" alt="" />
              <video
                width="100%"
                height="400px"
                class="bigvideo"
                playsinline
                preload="none"
                controls
              >
                <source src="/images/videos/staff1.mp4" type="video/mp4" />
                Your browser does not support the video tag.
              </video>
            </div>
          </div>
          <div class="slide">
            <div class="video-wrapper video-container">
              <img class="imgs" src="/images/founder (1).png" alt="" />
              <video
                width="100%"
                height="400px"
                class="bigvideo"
                playsinline
                preload="none"
                controls
              >
                <source src="/images/videos/staff1.mp4" type="video/mp4" />
                Your browser does not support the video tag.
              </video>
            </div>
          </div>
          <div class="slide">
            <div class="video-wrapper video-container">
              <img class="imgs" src="/images/founder (4).png" alt="" />
              <video
                width="100%"
                height="400px"
                class="bigvideo"
                playsinline
                preload="none"
                controls
              >
                <source src="/images/videos/staff1.mp4" type="video/mp4" />
                Your browser does not support the video tag.
              </video>
            </div>
          </div>
          <div class="slide">
            <div class="video-wrapper video-container">
              <img class="imgs" src="/images/founder (2).png" alt="" />
              <video
                width="100%"
                height="400px"
                class="bigvideo"
                playsinline
                preload="none"
                controls
              >
                <source src="/images/videos/staff1.mp4" type="video/mp4" />
                Your browser does not support the video tag.
              </video>
            </div>
          </div>
        </div>
      </div>

      <div class="founder-controls">
        <div class="control-button prev">
          <svg
          xmlns="http://www.w3.org/2000/svg"
          width="46"
          height="46"
          viewBox="0 0 46 46"
          fill="none"
        >
          <path
            id="round"
            d="M23.0001 42.1668C12.4146 42.1668 3.83342 33.5856 3.83342 23.0002C3.83342 12.4147 12.4146 3.8335 23.0001 3.8335C33.5855 3.8335 42.1667 12.4147 42.1667 23.0002C42.1667 33.5856 33.5855 42.1668 23.0001 42.1668Z"
            stroke="#112121"
            stroke-width="3.4375"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            id="arrow"
            d="M25.415 29.7656L18.6684 22.9997L25.415 16.2339"
            stroke="#112121"
            stroke-width="3.4375"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
        </div>
        <div class="control-button next">
          <svg
          xmlns="http://www.w3.org/2000/svg"
          width="46"
          height="46"
          viewBox="0 0 46 46"
          fill="none"
        >
          <path
            id="round"
            d="M22.9999 42.1668C33.5854 42.1668 42.1666 33.5856 42.1666 23.0002C42.1666 12.4147 33.5854 3.8335 22.9999 3.8335C12.4145 3.8335 3.83325 12.4147 3.83325 23.0002C3.83325 33.5856 12.4145 42.1668 22.9999 42.1668Z"
            stroke="#112121"
            stroke-width="3.4375"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            id="arrow"
            d="M20.585 29.7656L27.3316 22.9997L20.585 16.2339"
            stroke="#112121"
            stroke-width="3.4375"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
        </div>
      </div>
    </div>
  </Section> -->

  <Section style="padding-bottom:0;">

    <SectionTitle title=" Cultivating Values and Skills for the Modern World" subtitle="At Siddhanta Intellectual School, education isn't just about absorbing information from textbooks; it's about actively engaging with the world. Our approach to learning centers around experiential education, where students are encouraged to immerse themselves in hands-on, real-world experiences. This dynamic learning process is designed to ignite curiosity, spark creativity, and foster a deep understanding of the subjects and life itself." style="text-align:center;"   />


   <div class="container zigzag">




    <div class="left-image">
      <div class="row gy-4">
          <div class="col-lg-4 left-img l1">
              <img src="/images/about/guiding.jpg" alt="sidhhantha intellectual school" class="" >
          </div>
          <div class="col-lg-5 cont">
              <h5>Our Guiding Philosophy: Culture before Curriculum</h5>
              <p>At Siddhanta Intellectual School, education isn't just about absorbing information from textbooks; it's about actively engaging with the world. Our approach to learning centers around experiential education, where students are encouraged to immerse themselves in hands-on, real-world experiences. This dynamic learning process is designed to ignite curiosity, spark creativity, and foster a deep understanding of the subjects and life itself.</p>
          </div>
      </div> 
  </div>




    <div class="right-image">
      <div class="row gy-4">
          <div class="col-lg-5">
              
              <h5>Values at the Core: Cultivating Ethical Foundations</h5>
              <p>Our curriculum draws inspiration from two of the greatest epics in Indian literature: the Ramayana and the Mahabharata. These epics are not mere stories but repositories of profound wisdom, moral values, and life lessons. Through the study of these epics, our students learn timeless values such as integrity, compassion, resilience, and ethical leadership. We believe that these values are essential for personal growth and success in today's world.</p> 
          </div>
          <div class="col-lg-4 r1">
              <img src='/images/about/values.jpg' alt="sidhhantha intellectual school" >
          </div>
      </div>
  </div>




    <div class="left-image">
      <div class="row gy-4">
          <div class="col-lg-4 left-img l2 ">
              <img src="/images/about/life.jpg" alt="sidhhantha intellectual school" class="" >
          </div>
          <div class="col-lg-5 cont">
              <h5>Life Skills: Business and Financial Literacy</h5>
              <p>In addition to nurturing moral values, Siddhanta Intellectual School is committed to preparing students for the complexities of the modern world. We offer specialized courses in business and financial literacy, equipping students with practical knowledge and skills essential for financial independence and success. Our goal is to empower our students to make informed decisions and become responsible citizens who contribute positively to society.</p>
          </div>
      </div> 
  </div>



   

    <div class="right-image">
      <div class="row gy-4">
          <div class="col-lg-5">
              
              <h5>Beyond the Classroom: Experiential Learning</h5>
              <p>At Siddhanta Intellectual School, education goes beyond the four walls of the classroom. We understand the importance of connecting with nature to foster a deeper understanding of the world around us. That's why we have created a vegetable garden where students actively participate in gardening and learn about the environment, agriculture, and sustainability. We believe that experiencing nature firsthand is the most effective way to learn and develop a sense of responsibility towards the planet.</p> 
          </div>
          <div class="col-lg-4 r2">
              <img src='/images/about/beyond.jpg' alt="sidhhantha intellectual school" >
          </div>
      </div>
  </div>


    
    
    <div class="left-image">
      <div class="row gy-4">
          <div class="col-lg-4 left-img l3">
              <img src="/images/about/experiental.jpg" alt="sidhhantha intellectual school" class="" >
          </div>
          <div class="col-lg-5 cont">
              <h5>Experiential Learning for All Subjects</h5>
              <p>Experiential learning is at the heart of our teaching methodology. We believe that students learn best when they are actively engaged in the learning process. Whether it's history, science, mathematics, or any other subject, our teachers are dedicated to creating immersive and interactive learning experiences. This approach not only enhances academic understanding but also nurtures critical thinking, problem-solving, and creativity.</p>
          </div>
      </div> 
  </div>
    
 

    <div class="right-image">
      <div class="row gy-4">
          <div class="col-lg-5">
              
              <h5>Innovative Teaching Methods</h5>
              <p>Our teachers are passionate educators who are constantly innovating new methods to deliver academic content effectively. We understand that every student is unique, and one-size-fits-all teaching methods may not be suitable. Our educators employ diverse teaching strategies to cater to the individual learning styles and needs of our students, ensuring that no one is left behind.</p> 
          </div>
          <div class="col-lg-4 r3">
              <img src='/images/about/innovative.jpg' alt="sidhhantha intellectual school" >
          </div>
      </div>
  </div>


   </div>


  </Section>

  <Section style="padding:2rem 0 2rem 0 ;">
    <SectionTitle title=" We are glad to introduce our professional staffs" style="text-align:center;"  />

    <div class="container">
      <div class="staff">
        <a href="/images/group.jpg" data-fancybox="gallery">
          <img src="/images/group.jpg" alt="sidhhantha intelectual school" style="width: 100%; height;100%;">
        </a>
      </div>
    </div>
  </Section>
</Layout>

<style lang="scss">

.right-image{
        padding-bottom: 4rem;
        .row{
            justify-content: space-around;
            // gap: 3rem;
            align-items: center;

            @media screen and (max-width:991px) {
             flex-direction: column-reverse ;
            }
            >:nth-child(2){
                overflow: hidden;
                border: solid 10px var(--blue);
                height: 500px;
                padding: 0;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            h5{
                font-size: clamp(24px, 4vw, 30px);
                color: var(--dark-blue);
                margin-bottom: 1rem;
            }

            p{
              text-align: justify;
            }
        }
    } 

.left-image{
        padding-bottom: 4rem;
        .row{
            justify-content: space-around;
            // gap: 3rem;
            align-items: center;
            >:nth-child(1){
                overflow: hidden;
                border: solid 10px var(--blue);
                height: 500px;
                padding: 0;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            h5{
                font-size: clamp(24px, 4vw, 30px);
                color: var(--dark-blue);
                margin-bottom: 1rem;
            }



            p{
              text-align: justify;
            } 
        }
    }  

  .messages-slider{
   .slide{
    .video-wrapper{
      position: relative;
      border-radius: 20px;
      overflow: hidden;
      height: 205px;
      
      .imgs{
      width: 100% !important;
      height: 205px;
      position: absolute;
      z-index: 2;
    }

    video{
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
    }
   }
  }

  .founder-controls{
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-top: 3rem;

    svg{
        #round, #arrow {
          stroke:var(--blue);
        }
      }
  }

  .staff{
    width: 80%;
    margin: 0 auto;
    border: solid var(--dark-blue) 10px;
  }
  .big-para{
    font-size: clamp(16px, 4vw, 26px);
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding: 3rem 0;


    @media screen and (max-width:991px) {
      width: 100%;
      padding: 0;
    }
  }
  .about-banner {
    height: 80vh;
    background-color: red;
    margin-top: 144.05px;

    img {
      width: 100%;
      height: 100%;
    }
  }

.vision-row{
  justify-content: space-around;
  height: 480px;

  @media screen and (max-width:991px) {
    height: auto;
  }

  >:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

  .vision-grid {
   
    margin-top: 3rem;
    width: 100%  !important;
    display: flex !important;
    gap: 2rem !important;
    margin: 0 auto;
    position: relative;
    overflow: hidden;

    .overlay{
      padding: 30px;
      gap: 1rem;
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
      border-radius: 15px;
    }

    > :nth-child(1) {
      border: solid 2px var(--blue);
      border-radius: 15px;
      .overlay {
        background-color: var(--blue);
      }
    }
    > :nth-child(2) {
      border: solid 2px #179496;
      border-radius: 15px;
      .overlay {
        background-color: #179496;
      }
    }
    > :nth-child(3) {
      border: solid 2px #d63e;
      border-radius: 15px;
      .overlay {
        background-color: #d63e30;
      }
    }

    .vision-slide{
      width: 100% !important;
      // height: 480px;
      margin: 0 auto;
      overflow: hidden !important;
    }

    .slide-wrapper {
      
    
      text-align: center;
      
      border-radius: 15px;
      padding: 2rem;
      width: 100% !important; 
      height: 100%;
      // margin: 0 auto;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      transition: all 0.5s ease;

      // *{
      //   transition: all 0.5s ease;
      // }

      &:hover {
        // padding: 1.5rem;
      //  p{
      //   font-size: 22px;
      //  }
       img {
        max-width: 70px;
        
      }
      }

      img {
        max-width: 60px;
        transition: all 0.5s ease-in-out;
      }

      p {
        text-align: justify;
      }
    }
  }

  .nav-vision{
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease ;

    @media screen and (max-width:991px) {
      flex-direction: row ;
      gap: 1rem;
    }
    @media screen and (max-width:500px) {
      flex-direction: row ;
      gap: 1rem;

      span{
      font-size: 16px !important;
      transition: all 0.5s ease ;

    }
    }

    span{
      font-size: 22px;
      transition: all 0.5s ease ;
      cursor: pointer;

    }
  }

  .tns-nav-active{
    color: var(--blue);
  }
</style>
