---
import OtherClass from "../components/OtherClass.astro";
import PageBanner from "../components/PageBanner.astro";
import Section from "../components/Section.astro";
import SectionTitle from "../components/SectionTitle.astro";
import Layout from "../layouts/Layout.astro";
import Art from "../components/svgs/Art.astro";
import AmenetiesSlider from "../components/AmenetiesSlider.astro";
import SafetySlider from "../components/SafetySlider.astro";
---

<Layout title="Ameneties">
  <PageBanner title="Amenities" />
  <img
    src="/images/kids.jpg"
    alt="Siddhantha Intellectual school - grade6-8"
    class="class-image"
  />
  <Section>
    <div class="container">
      <SectionTitle
        title="Amenities"
        subtitle="Discover a vibrant learning environment with state-of-the-art amenities at our school. From modern classrooms and fully-equipped science labs to expansive sports facilities and a well-stocked library, we provide a nurturing space where students can thrive academically, socially, and creatively. Elevate education with our comprehensive and enriching amenities."
        substyle=""
      />

      <AmenetiesSlider />
    </div>
  </Section>

  <Section>
    <div class="container">
      <SectionTitle
        title="Campus Safety"
        subtitle=" Ensuring a secure haven for learning, our school prioritizes campus safety. With vigilant security personnel, advanced surveillance systems, and regular safety drills, we are committed to creating an environment where students can flourish without worry, fostering a sense of confidence, well-being, and peace of mind for all stakeholders."
        substyle=""
      />

      <SafetySlider />
    </div>
  </Section>

  <!-- <OtherClass /> -->
</Layout>

<style lang="scss">
  .facility-slider {
    // width: 80% !important;
    background-color: red;
    height: auto;
  }

  .ameneties-card {
    background-color: green;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
</style>
