---
import OtherClass from "../components/OtherClass.astro";
import PageBanner from "../components/PageBanner.astro";
import Section from "../components/Section.astro";
import SectionTitle from "../components/SectionTitle.astro";
import Layout from "../layouts/Layout.astro";
import Art from "../components/svgs/Art.astro";
import AmenetiesSlider from "../components/AmenetiesSlider.astro";
import SafetySlider from "../components/SafetySlider.astro";
---

<Layout title="Contact">
  <PageBanner title="Contact" image="/images/brushed/Banner-img-004.png"/>

  <Section style="padding-top:1rem;">
    <div class="container">
      <!-- <SectionTitle title="Contact Us " subtitle="" substyle="" /> -->

      <div class="contact pt-5">
        <div class="contact-card">
          <img src="/images/Location.gif" alt="" />
          <p class="sub-title">Address</p>
          <p>
            Siddhant School Road, Gattahalli, <br> Bengaluru, Karnataka 560099
          </p>
        </div>
        <div class="contact-card">
          <img src="/images/mail.gif" alt="" />
          <p class="sub-title">Contact-info</p>
          <p>
            <a href="tel:+9196112 25806">+91 - 96112 25806 </a>
            <br />
            <a href="tel:+9179753 03060">+91 - 79753 03060 </a>
            <br />
            <a href="mailto:"></a>
          </p>
        </div>
        <div class="contact-card">
          <img src="/images/clock.gif" alt="" />
          <p class="sub-title">Working Time</p>
          <p>
           Monday - Saturday <br> 9:00 AM - 5:PM
          </p>
        </div>
      </div>

    
    </div>
  </Section>

  <Section style="padding-bottom:0;">
   <div class="container">
    <SectionTitle
    title="Fill the form below so we can get to know you and your needs better."
    classes="text-center" style="padding:2rem 0;"
  />
   </div>

  <div>
    <form action="" class="forms">
      <input type="text" name="name" required placeholder="Student Name" />
      <input type="text" name="parentname" required placeholder="Parent Name" />
      <input type="text" name="number" required placeholder="Mobile" />
      <input
        type="text"
        name="email"
        required
        placeholder="Email Address"
      />
      <textarea
        name="message"
        id=""
        cols="30"
        rows="10"
        placeholder="Your Message"></textarea>

      <div><button>Submit</button></div>
    </form>
  </div>
  </Section>


  <Section>
    <div class="container">
        <SectionTitle
        title="Locate Us"
        classes="text-center" style="padding:2rem 0;"
      />


        <div class="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15558.310584492543!2d77.6964305!3d12.8705335!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae6cd77fa7b30d%3A0x8ba2ba7bd4681558!2sSiddhanta%20Intellectual%20School!5e0!3m2!1sen!2sin!4v1705571373245!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
  </Section>

  <!-- <OtherClass /> -->
</Layout>

<style lang="scss">
  .contact {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-content: center;

    @media screen and (max-width: 991px) {
      grid-template-columns: repeat(1, 300px);
      row-gap: 3rem;
    }

    img {
      max-width: 60px;
      height: 60px;
      object-fit: cover;
    }

    .contact-card {
      text-align: center;
      .sub-title {
        padding: 1rem 0;
      }
    }
  }

  form {
    display: flex;
    width: 40%;
    margin: 0 auto;
    flex-direction: column;
    gap: 2rem;

    @media screen and (max-width:991px) {
        width: 80%;
}

    input {
      padding: 0.5rem;
      font-size: 15px;
      border: solid 2px var(--brown);
    }

    textarea {
      padding: 0.5rem;
      font-size: 15px;
      border: solid 2px var(--brown);
    }

    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
      outline: none;
    }


    button{
        background-color: var(--brown);
        padding: 0.4rem 2rem;
        border-radius: 10px;
        border: none;
        color: white;

    }
  }

  .map{
    display: flex;
    justify-content: center;

    iframe{
    width:100% ;
  }
  }
</style>
