---
import OtherClass from "../components/OtherClass.astro";
import PageBanner from "../components/PageBanner.astro";
import Section from "../components/Section.astro";
import SectionTitle from "../components/SectionTitle.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Grade 1 - 5">
  <PageBanner title="Grade 1 - 5" quote="The discovery of agriculture was the first big step toward a civilized life." author="-Arthur Keith" image="/images/brushed/Banner-img-007.png"
/>
 
  <Section style="padding-top:0;" >
    <div class="container">
      <div class="course-content">
        <div>
          <div class="sub-title">
            Primary School Program
          </div>
          <p>
            Students, while entering primary school are exposed to a larger scale of school and friends. They learn crucial skills which prove to be the foundation for all the lessons to be learned in the years to come. Speaking of academics, the school follows the CBSE curriculum that will facilitate students in pursuing higher education in India as well as abroad or participate significantly in international markets for the country’s development. On the other hand, various co-curricular and extra-curricular activities focus on grooming the kids in the most suitable manner, with the help of all the teachers. They will be exposed to numerous activities and experiences that shall open their minds up to new platforms and avenues, making them ready to take on the challenges they are likely to face in the future years of schooling.
          </p>
        </div>
      
        <div>
          <h1 class="sub-title">
            Pre School in Bangalore
          </h1>
          <p>
            Working parents are always worried about their children when they go to work. They want their children to be in good and affectionate hands. Therefore, they are looking for the best Pre School in Bangalore. Siddhanta Intellectual School is the best Pre School in bangalore, dedicated to helping children make two important transitions. First from home to school, then from infant to kindergarten. We work closely with parents in an intimate environment because we believe that parents are the right professionals and an integral part of the team that supports their children's development.
          </p>
        </div>
      
        <div>
          <h1 class="sub-title">
           Education Programmes offered by our Pre School in Bangalore 
          </h1>
          <p>
            A comprehensive learning environment and well-guided facilities provide the nutrition needed for preschool children. Our interactive teaching methods and teaching sessions make Siddhanta Intellectual School one of the best Pre School in bangalore.
          </p>
          <ul class="new-tiles" >
            <li class="tile-item"><span>Montessori :</span>  Siddhanta Intellectual School, the best Pre School in bangalore, provide students with an education that approaches several areas of child development. We are focused on your child's psychological, natural, social, and physical development that allows them to grow freely within limits. In addition, the inclusion of specialized materials by our teachers makes education very interesting.</li>
            <li class="tile-item"><span>Kindergarten :</span> The Siddhanta Intellectual School focuses on social participation, self-activity and creativity. Children are given the freedom to immerse themselves in fun learning at this level. At Siddhanta Intellectual School, education is imported through a variety of practical activities such as singing, playing, writing, painting and social interaction.</li>
          </ul>
        </div>
      </div>
    </div>
  </Section>
  

  <OtherClass />
</Layout>

<style lang="scss" >
  .new-tiles{
   padding: 0 ;
    list-style: none;

   
   

    .tile-item{
      background-color: rgb(215, 234, 248);
      padding:2rem 2rem ;
      border-radius: 20px;
      display: flex;
      gap: 1rem;
      // justify-content: center;

      flex-direction: column;
      // align-items: center;
      transition: all 0.5s ease;

      span{
        color: var(--dark-blue);
      }

      &:hover{
        background-color: var(--blue);
        color:white !important;
        
      }
      
    }

  }
</style>
