---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Mandatory-disclosure">
  <div class="mandatory">
    <div class="container">
      <div class="mandatory-wrapper">
      <h2 class="text-center pt-5 mt-5">  Mandatory Disclosure</h2>
      </div>
    </div>
  </div>
</Layout>

<style>
    .mandatory-wrapper{
        margin-top: var(--header-height);
        height: 40vh;

    }
</style>