---
import SectionTitle from "./SectionTitle.astro";
import Section from "./Section.astro";
---

<Section>
  <div class="course" id="course">
    <div class="container">
      <div class="d-flex align-items-center justify-content-between course-nav">
        <SectionTitle
          title="Academics"
          subtitle="Limitless learning, more possibilities"
          style="padding:3rem 0;"
        />

        <div class="controls-container2">
          <div class="control-button prev">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-chevron-left"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
              ></path>
            </svg>
          </div>
          <div class="control-button next">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-chevron-right"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
              ></path>
            </svg>
          </div>
        </div>
      </div>

      <div class="course-slider">
        <div class="course-card text-center">
          <div class="image">
            <div class="overlay">
              <a href="/nursery">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-arrow-up-right-square"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm5.854 8.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707l-4.096 4.096z"
                  ></path>
                </svg>
              </a>
            </div>
            <img
              src="/images/nursery.jpg "
              alt="Siddhantha Intellectual school"
            />
          </div>
          <div class="details">
            <h5>Nursery, LKG, UKG</h5>
          </div>
        </div>
        <div class="course-card text-center">
          <div class="image">
            <div class="overlay">
              <a href="/grade1-5">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-arrow-up-right-square"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm5.854 8.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707l-4.096 4.096z"
                  ></path>
                </svg>
              </a>
            </div>
            <img src="/images/1-5.jpg " alt="Siddhantha Intellectual school" />
          </div>
          <div class="details">
            <h5>Grade 1 - 5</h5>
          </div>
        </div>
        <div class="course-card text-center">
          <div class="image">
            <div class="overlay">
              <a href="/grade6-8">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-arrow-up-right-square"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm5.854 8.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707l-4.096 4.096z"
                  ></path>
                </svg>
              </a>
            </div>
            <img src="/images/6-8.jpg " alt="Siddhantha Intellectual school" />
          </div>
          <div class="details">
            <h5>Grade 6 - 8</h5>
          </div>
        </div>
        <div class="course-card text-center">
          <div class="image">
            <div class="overlay">
              <a href="/grade9-10">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-arrow-up-right-square"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm5.854 8.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707l-4.096 4.096z"
                  ></path>
                </svg>
              </a>
            </div>
            <img src="/images/9-10.jpg " alt="Siddhantha Intellectual school" />
          </div>
          <div class="details">
            <h5>Grade 9 - 10</h5>
          </div>
        </div>
        <div class="course-card text-center">
          <div class="image">
            <div class="overlay">
              <a href="/grade11-12">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-arrow-up-right-square"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm5.854 8.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707l-4.096 4.096z"
                  ></path>
                </svg>
              </a>
            </div>
            <img
              src="/images/11-12.jpg "
              alt="Siddhantha Intellectual school"
            />
          </div>
          <div class="details">
            <h5>Grade 11 - 12</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</Section>

<style lang="scss">
  .course-slider {
    width: 90%;
    height: auto;
    // background-color: red;
  }
  .course-card {
    // box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

    .image {
      // padding-bottom: 2rem;
      position: relative;

      &:hover {
        img {
          filter: brightness(50%);
        }

        .overlay {
          position: absolute;
          transition: all 8s;
          -webkit-transition: all 8s;
          z-index: 2;
          font-size: 30px;
          font-weight: 600;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          a {
            margin: 0;
          }

          svg {
            fill: white;
            width: 30px;
            height: 30px;
            transition: var(--transition);
          }
        }
      }

      .overlay {
        display: none;
        transition: var(--transition);
      }
    }

    img {
      width: 100%;
      height: 100%;
    }

    .details {
      padding: 1rem;
      background-color: var(--brown);
      color: white;
    }
  }

  .controls-container2 {
    display: flex;
    gap: 1rem;

    .control-button {
      border: solid 1px rgb(202, 200, 200);
      padding: 0.2rem 0.6rem;
      cursor: pointer;
      transition: var(--transition);
      svg {
        stroke-width: 3px;
        height: 20px;
        width: 20px;
      }

      &:hover {
        border: solid 1px var(--brown);
        svg {
          fill: var(--brown);
        }
      }
    }
  }

  @media screen and (max-width: 500px) {
    .course-nav {
      flex-direction: column !important;
      padding-bottom: 2rem;
      // gap: 1rem;
    }
  }
</style>
