---
import Section from "./Section.astro";
import SectionTitle from "./SectionTitle.astro";
import Button from "./Button.astro";
import Eventcard from "./Eventcard.astro";
---

<Section classes="events-section" style="position:relative; ">
  <div class="container">
   
    <div class="events-card-wrapper">
      <div class="">
        <div class="slide">
          <div class="wrapper">
            <Eventcard
              date="20"
              month="December"
              name="events"
              time="10:00 AM"
              image="/images/sankranti/sankranti (1).jpg"
              link="/events/events1"
            />
          </div>
        </div>
        <div class="slide">
          <div class="wrapper">
            <Eventcard
            date="20"
            month="December"
            name="events"
            time="10:00 AM"
            image="/images/homebanner/002.jpg"
            link="/events/events1"
          />
          </div>
        </div>
        <div class="slide">
          <div class="wrapper">
            <Eventcard
            date="20"
            month="December"
            name="events"
            time="10:00 AM"
            image="/images/homebanner/002.jpg"
            link="/events/events1"
          />
          </div>
        </div>
      </div>
    </div>

   
   
  </div>
</Section>

<style is:global></style>

<style lang="scss">
  .events-card-wrapper {
    position: relative;
    width: 90%;
    margin: 0 auto !important;
   

    @media screen and (max-width:500px) {
      width: 300px !important;
    }

    .events-slider {
      margin: 0 auto !important;
      // width: 80% !important;
      display: flex;

     
    }

  
  }

 
</style>
