---

---

<header id="header" class="animate__animated">
  <div class="head-banner">
  <div class="container">
    <div class="wrapper">
     <marquee>
      <a href="">Admission open for 2024 - 2025</a> 
     </marquee>
     
      
     
     
    
     
     </div>
  </div>

  </div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-2 d-flex justify-content-between">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <div>
            <a href="/">
              <img src="/images/logo.svg" class="logo" alt="Logo" /></a
            >
          </div>

          <div class="menu-btn">
            <img
              src="/images/menu (11).png"
              alt=""
              style="max-width: 40px;"
              class="menubar"
            />
          </div>
        </div>
      </div>

      <div class="col-lg-8">
        <div class="">
          <ul class="navigation nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li>
              <a href="#" class="drop">Classes</a>

              <div class="submenu class">
                <a href="/daycare">Day care</a>
                <a href="/nursery">Nursery,LKG,UKG</a>
                <a href="/grade1-5">Grade 1- 5</a>
                <a href="/grade6-7">Grade 6 - 7</a>
                <a href="/grade8-10">Grade 8 - 10</a>
              </div>
            </li>
            <li><a href="/admission">Admission</a></li>
            <!-- <li><a href="/amenities">Amenities</a></li> -->
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/contact">contact</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-2 d-flex gap-3 justify-content-end align-items-center">
        <div class="d-flex gap-3 justify-content-end">
          <a
            href="https://www.facebook.com/SiddhantaIntellectualSchool"
            target="_blank"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-facebook"
              viewBox="0 0 16 16"
            >
              <path
                d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951"
              ></path>
            </svg>
          </a>
          <a
            href="https://www.instagram.com/siddhantaintellectualacademy/?fbclid=IwAR3ozOky7UcF9bdeXrLPCxc_j7qz7DPGaJ3GfwHYfL_Yjsn2sAs4htIsW_s"
            target="_blank"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-instagram"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334"
              ></path>
            </svg>
          </a>
        </div>
        <a href="tel:+917975303060" class="btn">Call us</a>
      </div>
    </div>
  </div>
</header>

<div class="mobile-menu" id="menus">
  <div class="wrapper">  
    <div class="container">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/admission">Admission</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/amenities">Amenities</a></li>
        <li class="submenu-wrapper">
         

          <ul class="subs">
            <li class=""><a href="/daycare">Day care</a></li>
            <li class=""> <a href="/nursery">Nursery,LKG,UKG</a></li>
            <li class="">  <a href="/grade1-5">Grade 1- 5</a></li>
            <li class="">  <a href="/grade6-7">Grade 6 - 7</a></li>
            <li class=""> <a href="/grade8-10">Grade 8 - 10</a></li>
           
          </ul>
        </li>

        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</div>

<script is:inline>
  const buttons = document.getElementById("menu-btn");
  const headers = document.getElementById("header");
  const menu = document.getElementById("menus");
  const bar = document.querySelector(".menubar");

  document.querySelector(".menubar").src = "/images/menu (11).png";

  bar.addEventListener("click", function () {
    headers.classList.toggle("active");
    menu.classList.toggle("left");

    if (headers.classList.contains("active")) {
      bar.src = "/images/close.png";
    } else {
      bar.src = "/images/menu (11).png";
    }
  });

  // menu.addEventListener("click", function () {
  //   headers.classList.remove("active");
  //   menu.classList.remove("left");
  //   bar.src = "/images/menu (11).png";
  // });

  // menu.addEventListener('click', function() {
  //   headers.classList.toggle('active');
  //   menu.classList.toggle('left');

  //   if (headers.classList.contains('active')) {
  //   //   headers.style.backgroundColor = '#fff';
  //     document.querySelector('.logo').src = '/images/logo-white.png';
  //     document.querySelector('.menubar').src = '/images/close.png';
  //   } else {
  //   //   headers.style.backgroundColor = '#fff';
  //     document.querySelector('.logo').src = '/images/logo.png';
  //     document.querySelector('.menubar').src = '/images/menu.png' ;
  //   }

  // });

   

</script>

<style lang="scss">
  header {
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;

    // padding: 1rem 0;
    // box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  }

 

  .head-banner {
    background-color: var(--dark-blue);
    padding: 0.4rem 0;
    .wrapper{
     
     display:flex;
     justify-content: center;
     align-items: center;

    a {
      font-size: 14px;
      margin: 0;
      color: white; 
    }

   
    }
  }
  .row {
    align-items: center;
    padding: 0.5rem 0;
    > :nth-child(1) {
      display: flex;
      align-items: center;

      @media screen and (max-width: 991px) {
        width: 100%;
        justify-content: flex-end;
      }
    }

    > :nth-child(2) {
    }

    > :nth-child(3) {
      // width: 100%;
      display: flex;
      // justify-content: space-between;

      @media screen and (max-width: 991px) {
        display: none !important;
      }

      p {
        background-color: var(--dark-blue);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin: 0;
        padding: 0.9rem 1rem;
        border-radius: 15px;
        transition: all 0.5s ease;

        &:hover {
          background-color: var(--blue);
        }
      }

      .btn {
        color: white;
        // line-height: 0;
        // margin: 0;
        font-size: 16px;
        transition: all 0.5s ease;
        background-color: var(--dark-blue);
        padding: 0.3rem 1rem;
        gap: 20px;
        // margin: 0;

        border-radius: 10px;
        transition: all 0.3s ease;

        transition: all 0.3s ease;

        &:hover {
          background-color: var(--blue);
        }
      }

      svg {
        height: 20px;
        width: 20px;
        fill: var(--blue);
        transition: all 0.3s ease;

        &:hover {
          fill: var(--dark-blue);
        }
      }
    }
  }

  .menu-btn {
    display: none;

    @media screen and (max-width: 991px) {
      display: block !important;
    }
  }

  .nav {
    display: flex;
    gap: 2rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    @media screen and (max-width: 1080px) {
      gap: 1rem;
    }
    @media screen and (max-width: 991px) {
      display: none !important;
    }

    > :nth-child(3) {
      &:hover {
        .class {
          display: block;
          position: absolute;
          width: 250px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          padding: 2rem 1.5rem;
          // text-align: center;
          top: 30px;
          transition: all 0.8s ease;

          background-color: #ffffff;
          border-radius: 20px;
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
          z-index: 1;

          a {
            color: black;
            font-size: 14px;
            margin: 0;
            font-weight: 600;
            transition: all 0.5s ease;
            border-radius: 10px;

            &:hover {
              // color: #e9e9e9;
              background-color: var(--blue);
              // padding: 0.6rem;
              border-radius: 10px;
              color: white;
              font-size: 14px;
            }
          }
        }
      }
    }

    li {
      position: relative;

      a {
        position: relative;
        // color: white;
        // padding-bottom: 5px;
        padding: 0.6rem;
        margin: 0;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        transition: all 0.5s ease;
        border-radius: 10px;

        &:hover {
          color: #e9e9e9;
          background-color: var(--blue);
          padding: 0.6rem;
          border-radius: 10px;
          color: white;
          font-size: 14px;
        }
      }

      .class {
        display: none;
      }
    }
  }

  .logo {
    // height: 100px;
    width: 160px;
    // display: inline-block;
    vertical-align: middle;
  }

  .mobile-nav {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  @media screen and (max-width: 1080px) {
    .logo {
      width: 160px;
      vertical-align: middle;
    }

    .row {
      align-items: flex-start;
    }

    .nav {
      justify-content: center;

      a {
        font-size: 14px !important;
      }
    }
  }

  @media screen and (max-width: 991px) {
    .mobile-nav {
      display: block !important;

      img {
        width: 50px;
        object-fit: contain;
      }
    }

    .mobile-menu {
      display: block;
      position: fixed;
      // background-color: rgba(0, 0, 0, 0.075);
      background-color: red;
      width: 100%;
      height: 100%;
      left: -5000px;
      // top: var(--header-height);

      z-index: 111;
      transition: var(--transition);

      // padding: 3rem 0;

      .wrapper {
        position: relative;
        width: 100%;
        padding: 4rem 0;
        height: 100%;
        background-color: var(--brown);
        display: flex;
        justify-content: center;
        align-items: flex-start;

        img {
          position: absolute;
          right: 20px;
          top: 20px;
          width: 30px;
          object-fit: contain;
          height: 30px;
        }
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0;
        margin: 0;
        list-style: none;

        li {
          font-size: 20px;
          position: relative;
          color: white;

          a {
            color: white;
          }

          font-family: var(--font-head);
          // &:after{
          //     content: '';
          //     display: block !important;
          //     position: absolute;
          //     bottom: 0;
          //     left: 0;
          //     width: 50%;
          //     height: 3px;
          //     background-color: var(--brown);

          //   }
          display: flex;
          // align-items: center;
          gap: 1rem;
          flex-direction: column;
          span {
            font-size: 10px;
          }
        }

       
      }
    }
  }

  .sticky {
    background-color: white !important;
    .row {
      img {
        max-height: 90px !important;
        transition: var(--transition);
        background-color: white;
      }
      .nav a {
        color: black !important;
      }
    }
  }

  .left {
    left: 0 !important;
  }

  .view {
    display: block !important;
    position: relative;
  }

  .active {
    background-color: white;
  }




</style>
