---
import Section from "./Section.astro";
import SectionTitle from "./SectionTitle.astro";
---

<Section>
  <div class="container">
    <SectionTitle
      title="Experiential Learning at Siddhanta"
      classes="text-center"
      
    />

    <div class="pt-5 ">
      <div class="row gy-5 learning">
        <div class="col-lg-5">
         
          <img src="/images/banner.webp" alt="" class="exp-left">
        </div>
        <div class="col-lg-6 d-flex flex-column gap-5 top-anime">
          <div class="d-flex flex-column gap-3">
            <h4 class="sub-title">Igniting Knowledge Through Experience</h4>
            <p class="para">
              At Siddhanta Intellectual School, education isn't just about
              absorbing information from textbooks; it's about actively engaging
              with the world. Our approach to learning centers around experiential
              education, where students are encouraged to immerse themselves in
              hands-on, real-world experiences. This dynamic learning process is
              designed to ignite curiosity, spark creativity, and foster a deep
              understanding of the subjects and life itself.
            </p>
          </div>
          <div class="d-flex flex-column gap-3">
            <h4 class="sub-title">Why Experiential Learning?</h4>
            <p class="para">
              We firmly believe that experiences are the most profound teachers.
              Through experiential learning, students acquire knowledge, skills,
              and values by actively participating in meaningful activities. This
              approach not only enhances their academic understanding but also
              equips them with essential life skills, such as problem-solving,
              critical thinking, and teamwork.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</Section>

<style lang="scss">
  

  .row {
        justify-content: space-between !important;
        align-items: center ;
      > :nth-child(1) {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        #blobSvg {
    width: 500px;
    margin: 0 auto;
    position: absolute;
    z-index: -2 ;

  }

  img{
    width: 100%;
    height: 600px;
    // height: 400px;
    object-fit: cover; 
  }

      }
    }

 


</style>
