---
const { title , content , image } = Astro.props
---

<div class="left-image">
    <div class="row gy-4">
        <div class="col-lg-4 left-img">
            <img src={image} alt="sidhhantha intellectual school" class="" >
        </div>
        <div class="col-lg-5 cont">
            <h5>{title}</h5>
            <p>{content}</p>
        </div>
    </div>
</div>

<style lang="scss" >
  
</style>