---
import Section from "./Section.astro";
import SectionTitle from "./SectionTitle.astro";
import High from "./svgs/High.astro";

---

<Section style="padding-bottom:0rem;">
<div class="container">
    <SectionTitle title="Our Highlights" classes="text-center"/>

    <div class="d-flex justify-content-center">
        <High/>
    </div>
</div>
</Section>