---
const { title , content , image } = Astro.props
---

<div class="right-image">
    <div class="row gy-4">
        <div class="col-lg-5">
            
            <h5>{title}</h5>
            <p>{content}</p> 
        </div>
        <div class="col-lg-4">
            <img src={image} alt="sidhhantha intellectual school" >
        </div>
    </div>
</div>

<style lang="scss">
   
</style>