---

---


<div class="safety-slider facility-slider">
    <div class="facility-layout">
        
        <img src="/images/icons/CCTV.png" alt="Dav public school">
        <h4>All classrooms and common areas under CCTV surveillance</h4>
    </div>
    <div class="facility-layout">
        
        <img src="/images/icons/Security.png" alt="Dav public school">
        <h4>Security</h4>
    </div>
    <div class="facility-layout">
        
        <img src="/images/icons/first.png" alt="Dav public school">
        <h4>First Aid with designated recovery room</h4>
    </div>
    <div class="facility-layout">
        
        <img src="/images/icons/fire-extinguisher.png" alt="Dav public school">
        <h4>Fire Safety approved building</h4>
    </div>
    <div class="facility-layout">
        
        <img src="/images/icons/Child-Safty.png" alt="Dav public school">
        <h4>Child Safety Addressal Team</h4>
    </div>
   
   
  </div>

  <div class="controls-containers2  controls-containers ">
    <div class="control-button prev">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
          </svg>
    </div>
    <div class="control-button next">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
          </svg>
    </div>
  </div>

  <style lang="scss">
     .facility-slider {
    // width: 80% !important;
    padding:4rem 0;
    height: auto;

    .facility-layout {
    text-align: center;
     h4{
        padding: 1rem;
        // text-align: center;
     }

     img{
        width: 100px;
        
        margin: 0 auto;
     }
  }

  
  }
  .controls-containers{
    display: flex ;
    justify-content: center;
    gap: 3rem;
    // padding-top: 2rem;
    .control-button{
            border: solid 1px black;
            padding: 0.6rem 0.6rem;
            cursor: pointer;
            font-weight: 600;


            svg{
                stroke: 8px !important;
                width: 30px;
                height: 30px;
                
            }
        }
  }
  
  </style>