---
const { classes="", style } = Astro.props 
---

<div class:list={["section", classes]} style={style} >
<slot />
</div>

<style lang="scss" is:global >
    .section{
      padding: 6rem 0;

      position: relative;
     
    }

   
</style>