---
import Section from "./Section.astro";
import SectionTitle from "./SectionTitle.astro";
import TestimonialCard from "./TestimonialCard.astro";
import { tns } from "tiny-slider/src/tiny-slider";
import { Carousel } from "@fancyapps/ui";
import { Thumbs } from "@fancyapps/ui/dist/carousel/carousel.thumbs.esm.js";
import "@fancyapps/ui/dist/carousel/carousel.thumbs.css";
import { Autoplay } from "@fancyapps/ui/dist/carousel/carousel.autoplay.esm.js";
import "@fancyapps/ui/dist/carousel/carousel.autoplay.css";
import "@fancyapps/ui/dist/carousel/carousel.css";
---

<Section>
  <div class="container">
    <SectionTitle title="What People Say" classes="text-center" subtitle="" />

    <div class="testimonials-wrapper">
      <div class="testimonials">
        <div class="slide">
          <div class="wrapper">
            <!-- <img src="/images/tb1.png" alt=""> -->
            <div class="overlay">
              <img src="/images/Women.png" alt="" />
            </div>
            <div class="content">
              <div></div>
              <div class="name">Vinayashree G</div>
              <p>
                I am so pleased with how my child has progressed. Thank you for
                your help, my child is very happy. My child always talks about
                school and the work he is doing, he is getting on really well.
                Very good teachers and really helpful,
              </p>
              <div>
                <img
                  src="/images/quote (1).png"
                  alt=""
               
                />
              </div>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class="wrapper">
            <!-- <img src="/images/tb1.png" alt=""> -->
            <div class="overlay">
              <img src="/images/Women.png" alt="" />
            </div>
            <div class="content">
              <div></div>
              <div class="name">Neha Barnwal</div>
              <p>
                Good school, Very good teachers. My son has learnt new things. He loves to go school as teachers are genuinely taking care of each one of them.
              </p>
              <div>
                <img
                  src="/images/quote (1).png"
                  alt=""
                
                />
              </div>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class="wrapper">
            <!-- <img src="/images/tb1.png" alt=""> -->  
            <div class="overlay">
              <img src="/images/man.png" alt="" />
            </div>
            <div class="content">
              <div></div>
              <div class="name">Praveen</div>
              <p>
                Best school in this area, my son studied in nursery and also opted day care...day care and nursery teachers were really good and caring to students.
              </p>
              <div>
                <img
                  src="/images/quote (1).png"
                  alt=""
             
                />
              </div>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class="wrapper">
            <!-- <img src="/images/tb1.png" alt=""> -->
            <div class="overlay">
              <img src="/images/man.png" alt="" />
            </div>
            <div class="content">
              <div></div>
              <div class="name">Jay Prakash</div>
              <p>
                My daughter is in LKG. The primary teacher understands her ability and provide right and timely guidance to improve her skills. The improvement being shown in her after she has joined the school is on the positive side.
              </p>
              <div>
                <img
                  src="/images/quote (1).png"
                  alt=""
                
                />
              </div>
            </div>
          </div>
        </div>
       
      </div>
    </div>

    <div class="testimonial-controls">
      <div class="control-button prev">
        <img src="/images/left.jpg" alt="" style="max-width:30px" />
      </div>
      <div class="control-button next">
        <img src="/images/right.jpg" alt="" style="max-width:30px" />
      </div>
    </div>
  </div>
</Section>

<style lang="scss">
  

  .testimonials {
    // max-width: 800px;
    // height: 400px;
    margin: 4rem 0;

    > :nth-child(1) {
      .wrapper {
      }
    }
    .slide {
      .wrapper {
        position: relative;
        width: 90%;
        // background-color: aliceblue;
        padding: 2rem;
        margin: 0 auto;
        border-radius: 10px;

        height: 450px;
        display: block !important;
        transition: all 0.5s ease;
       
        background-color: rgba(9, 142, 186, 0.201);
         

        

        &:hover {
      
          box-shadow: rgba(137, 215, 243, 0.655) 0px 25px 20px -20px;

          .overlay{
            border: solid  var(--dark-blue);
            display: block;
            position: absolute;
          top: -3rem;
          width: 70px;
          height: 70px;
          border-radius: 70px;
          transition: all 0.5s ease;
          border: solid 2px var(--blue);
          backdrop-filter: blur(30px);
          display: flex;
          justify-content: center;
          align-items: center;
          
          
 
          box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;

          img{
            width: 45px;

          }
          }

          .content{
            img{
              opacity: 80%;
              top: 75%;
            }
          }
        }

        .overlay {
          border: solid  var(--dark-blue);
            display: block;
            position: absolute;
          top: -3rem;
          width: 70px;
          height: 70px;
          border-radius: 70px;
          transition: all 0.5s ease;
          border: solid 2px var(--blue);
          backdrop-filter: blur(30px);
          display: flex;
          justify-content: center;
          align-items: center;
          
          
 
          box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;

          img{
            width: 45px;
            

          }
        }

        .content {
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: column;
          
          padding-top: 2rem;
          // justify-content: center;
          align-items: center;
          gap: 1rem;

          .name {
            font-size: clamp(22px, 4vw, 30px);
            font-weight: 600;
            // color: white;
          }

          p {
            font-size: 16px;
            width: 100%;
            text-align: center;
          }

          img{
            position: absolute;
            // height: 90%;
            width: 100px;
            z-index: -1;
            top: 70%;
            right: 20px;
            opacity: 20%;
            transition: all 0.5s ease ;


          }
        }
      }
    }
  }

  .testimonial-controls {
    display: flex;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    width: 100%;
    // height: 100px;
    justify-content: center;
    gap: 3rem;
    z-index: 1;
  }
</style>
