---
const {  name , role, message} = Astro.props
---

<div class="text-center test-card">
   <div>
    <h5 class="sub-title2">
        {name}
    </h5>
    <p>{role}</p> 
   </div>
    <p class="message">{message}</p>
</div>

<style lang="scss">
    .test-card{
        width: 80%;
       
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 1rem ;

        @media screen and (max-width:500px) {
            width: 100%;

            .message{
            width: 90% !important;
            margin: 0 auto;
            text-align: justify;
        }
        }

        .message{
            width: 70%;
            margin: 0 auto;
            
        }
    }
</style>