---
import Section from "./Section.astro";
import SectionTitle from "./SectionTitle.astro";
import Button from "./Button.astro";
import Whyuss from "./svgs/whyus.astro" ;
import Whymobile from "./svgs/whymobile.astro";


---


<Section style="padding-bottom:0rem;">
    <div class="container">
       <SectionTitle title="Why Choose Siddhanta?" classes="text-center"/>

      <div class="d-flex justify-content-center">
       <Whyuss />

       <div class="mobile-only">
        <Whymobile />
       </div>


        
      </div>     
    </div>
</Section>


<style lang="scss">
    .mobile-only{
        display: none;

        @media screen and (max-width: 500px) {
            display: block ;
        }
    }
  .why-us{
    display: grid;
    padding-bottom: 4rem;
    
    grid-template-columns: repeat(3 , 1fr );
    place-items: center;
    place-content: center;
    text-align: center;
    gap: 2rem;


    @media  screen and (max-width: 991px) {
        grid-template-columns: repeat(1 , 1fr );
        row-gap: 2rem;
    }


    div{
        background-color: white;
        padding: 2rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 10px ;
        gap: 1rem;
        align-items: center;
        transition: var(--transition);

        &:hover{
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }
        // width: 300px;
    }
    img{
        max-width: 80px;
    }
    h4{
        font-size: 20px;
        padding-top: 10px;
    }
  }
</style>